.showView {
  margin: 25px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header h1 {
  margin-top: 0;
  margin-left: 20px;
}
.showPlot {
  max-width: 500px;
}
.poster {
  height: 300px;
}
.titleBar {
  display: flex;
  flex-direction: row;
}
.closeButton {
  border: 1px solid #bbb;
  background-color: #eee;
  color: #999;
  padding: 10px;
  height: 38px;
  line-height: 18px;
  cursor: pointer;
}

.tabButtons {
  margin: 10px 0;
}
.tabButtons button {
  margin-right: 10px;
  border: 1px solid #bbb;
  background-color: #eee;
  padding: 10px;
}
.tabButtons button.active {
  background-color: #aaa;
}

.episodeDate {
  color: #999;
}
