body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input {
  font-family: 'Montserrat', Sans-Serif;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #500;
  font-family: 'Source Sans Pro', Serif;
}
