body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input {
  font-family: 'Montserrat', Sans-Serif;
}

.App {
  position: relative;
  max-width: 1000px;
  min-height: calc(100vh - 45px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: #500;
  font-family: 'Source Sans Pro', Serif;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin: 15px 0;
  color: #999;
}
footer a {
  text-decoration: none;
}
